@import "variables";

%grid-item{
  margin-right: #{$gutter_size};
  float: left;
  background-color: blue;
  height: 50px;
  @media (max-width: 400px) {
    float: none;
  }
}

%clearfix{
  &::after{
    display: table;
    content: '';
    clear: both;
  }
}
