@import "variables";

%grid-item{
  & [class^="col-"] {
    float: left;
  }
  @media (max-width: 400px) {
    float: none;
  }
}

%clearfix{
  &::after{
    display: table;
    content: '';
    clear: both;
  }
}
