@import "variables";

%grid-item{
  & [class^="col-"] {
    float: left;
    background-color: blue;
    height: 50px;
  }
  @media (max-width: 400px) {
    float: none;
  }
  // &.gutter_size [class^="col-"] {
  //   margin-right: #{$gutter_size};
  // }
  // &.gutter_size_md [class^="col-"] {
  //   margin-right: #{$gutter_size_md};
  // }
  // &.gutter_size_lg [class^="col-"] {
  //   margin-right: #{$gutter_size_lg};
  // }
}

%clearfix{
  &::after{
    display: table;
    content: '';
    clear: both;
  }
}
